body {
    background: #000;
}

#canvas1 {
    border: 3px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 880px;
    height: 450px;
    transform: translate(-50%, -50%);
}